<script>

export default {
  data() {
    return {
      backend_data: ["There will be data from the backend here", "If you can read this, something's not working!"]
    }
  },

  mounted() {
    fetch("http://127.0.0.1:8000").then(r => r.json().then(j => {
      let new_data = []
      for (let d of j.data) {
        new_data.push(d[0])
      }
      this.backend_data = new_data
      }))
  }
}

</script>

<template>
  <div class="greetings">
    <h3 v-for="d in backend_data">
      {{ d }}
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
